android==1.0
astroid==1.6.3
audiostream==0.2
certifi==2018.4.16
chardet==3.0.4
git-gifi==0.12
gitdb==0.6.4
GitPython==1.0.1
heroku==0.1.4
idna==2.7
isort==4.3.4
jedi==0.11.1
jnius==1.1.dev0
Kivy==1.10.1.dev0
lazy-object-proxy==1.3.1
mccabe==0.6.1
node==0.9.22
npm==0.1.1
odict==1.6.2
optional-django==0.1.0
parso==0.1.1
pipenv==2018.7.1
plumber==1.5
pygame-sdl2==2.1.0
PyGithub==1.25.2
pylint==1.8.4
PySDL2==0.9.4
python-dateutil==1.5
requests==2.19.1
six==1.11.0
slackclient==0.15
smmap==0.9.0
urllib3==1.23
virtualenv==16.0.0
virtualenv-clone==0.3.0
websocket-client==0.48.0
wrapt==1.10.11
zope.component==4.4.1
zope.deprecation==4.3.0
zope.event==4.3.0
zope.interface==4.5.0
zope.lifecycleevent==4.2.0
